<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{/posts/community :: setContent(~{this::content})}">
    <th:block th:fragment="content">
      <div class="framer-yxxhnk" data-framer-name="상단좌단하단" name="상단좌단하단">
  <div class="framer-1j5rs6n" data-framer-name="전체글 + 좌단 프레임" name="전체글 + 좌단 프레임">
    <div class="framer-1wh9qoi" data-framer-name="전체글 프레임" name="전체글 프레임">
      <div class="framer-1mbrrah" data-framer-name="전체글 프레임" name="전체글 프레임">
        <div class="framer-3s9o6h" data-framer-name="전체글 상단" name="전체글 상단">
          <div class="framer-14p6u9y" data-framer-name="Frame 133" name="Frame 133">
            <div class="framer-10gh5b3" data-framer-name="전체글 메뉴바 프레임" name="전체글 메뉴바 프레임">
              <div class="framer-1eqzjc8" data-framer-name="Frame 46" name="Frame 46" style="height: 36px; width: 936px;">
                <div class="framer-ld6d24" data-framer-name="Frame 64" name="Frame 64" style="width: 366px; height: 36px;">
                  <div class="framer-1czkt31" data-framer-name="인기글 바로가기" name="인기글 바로가기">
                    <div data-framer-name="전체글" style="height:36px; width:80px; outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                      <p style="height:36px; width:80px; --framer-font-size:28px;--framer-line-height:36px" class="framer-text">
                        <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLTcwMA==;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:28px;--framer-font-weight:700;--framer-text-color:rgba(255, 255, 255, 1)" class="framer-text">전체글</span>
                      </p>
                    </div>
                  </div>
                  <div class="framer-ymj0n" data-framer-name="Frame 63" name="Frame 63" style="margin-left: 80px; height: 32px; width: 262px;">
                    <div class="framer-qhyna9" data-framer-name="Frame 338" name="Frame 338">
                      <div class="framer-15ps8sd" data-framer-name="Frame 340" name="Frame 340">
                        <div class="framer-t2u89c" data-framer-name="Frame 61" name="Frame 61" style="height: 32px; width: 125px;">
                          <div class="framer-6t7udu" data-framer-name="글자" name="글자" style=" height: 16px; width: 68px;">
                            <div data-framer-name="정보 게시판" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                              <p style="height: 17px; width: 64px; --framer-font-size:13px" class="framer-text">
                                <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:13px;--framer-text-color:rgba(221, 221, 221, 1)" class="framer-text">정보 게시판</span>
                              </p>
                            </div>
                          </div>
                          <div class="framer-1kh3ohm" data-border="true" data-framer-name="바로가기" name="바로가기" style="transform:rotate(45deg)"></div>
                        </div>
                      </div>
                    </div>
                    <div class="framer-b42pwh" data-framer-name="Frame 337" name="Frame 337">
                      <div class="framer-66rvt8" data-framer-name="Frame 336" name="Frame 336">
                        <div class="framer-uhd3l4" data-framer-name="Frame 62" name="Frame 62" style="height: 32px; width: 125px;">
                          <div class="framer-9ygyen" data-framer-name="글자" name="글자">
                            <div data-framer-name="최신순" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                              <p style="--framer-font-size:13px" class="framer-text">
                                <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:13px;--framer-text-color:rgba(221, 221, 221, 1)" class="framer-text">최신순</span>
                              </p>
                            </div>
                          </div>
                          <div class="framer-9mwmf5" data-border="true" data-framer-name="바로가기" name="바로가기" style="transform:rotate(45deg)"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="framer-1gndi7c" data-framer-name="검색+글쓰기" name="검색+글쓰기">
                  <div class="framer-1c77r7u" data-framer-name="검색창" name="검색창" style="width: 304px; height: 32px;">
                    <div data-framer-name="지금 HOT한 이야기!" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                      <p style="--framer-font-size:13px" class="framer-text">
                        <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:13px;--framer-text-color:rgba(221, 221, 221, 1)" class="framer-text">지금 HOT한 이야기!</span>
                      </p>
                    </div>
                    <div data-framer-component-type="SVG" data-framer-name="검색창" name="검색창" style="margin-left: 242px; image-rendering:pixelated;flex-shrink:0;fill:rgba(0,0,0,1);color:rgba(0,0,0,1)" class="framer-1tradys" aria-hidden="true">
                      <div class="svgContainer" style="width:100%;height:100%;aspect-ratio:inherit">
                        <svg style="width:100%;height:100%" viewBox="0 0 22 22">
                          <use href="#svg504535099_771"/>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="framer-1fnxtxs" data-framer-name="글쓰기" name="글쓰기" style="width: 76px; height: 32px;">
                    <div  data-framer-name="글쓰기" style="width: 76px; height: 32px; outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                      <p style="position: relative; top: 8px; text-align:center; width: 76px; height: 32px; --framer-font-size:13px" class="framer-text">
                        <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLTcwMA==;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:13px;--framer-font-weight:700;--framer-text-color:rgba(255, 255, 255, 1)" class="framer-text">글쓰기</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="framer-ippg4" data-framer-name="Frame 99" name="Frame 99">
          <div class="framer-1utrtht" data-framer-name="전체글 프레임" name="전체글 프레임">
            <th:block th:each="dto : ${result.dtoList}">
              <div class="framer-e0928z" data-framer-name="Frame 98" name="Frame 98">
              <div class="framer-15sflr5" data-border="true" data-framer-name="Frame 85" name="Frame 85" style="height: 90px; width: 886px;">
                <div class="framer-1jqfv83" data-framer-name="Frame 84" name="Frame 84">
                  <div data-framer-name="좋아요 프레임" name="좋아요 프레임" style="height:60px; width:38px;">
                    <div data-framer-component-type="SVG" data-framer-name="좋아요" name="좋아요" style="text-align: center; height:33px; width:36px; image-rendering:pixelated;flex-shrink:0;fill:rgba(0,0,0,1);color:rgba(0,0,0,1)" class="framer-65ivug" aria-hidden="true">
                      <div class="svgContainer" style="width:100%;height:100%;aspect-ratio:inherit">
                        <svg style="width:100%;height:100%" viewBox="0 0 36 33">
                          <use href="#svg854979134_544"/>
                        </svg>
                      </div>
                    </div>
                    <div data-framer-name="309" style="margin-left : 5px; margin-top:5px; height:19px; width:28px; outline:none;display:flex;flex-direction:column; text-align: center; justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                      <p style="text-align:center; height:19px; width:28px;  --framer-font-size:16px;--framer-line-height:24px" class="framer-text">
                        <span style="text-align:center;--font-selector:R0Y7Tm90byBTYW5zIEtSLTUwMA==;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:16px;--framer-font-weight:500;--framer-text-color:rgba(255, 255, 255, 1)" class="framer-text">0</span>
                      </p>
                    </div>
                  </div>
                  <div class="framer-gq7bdi" data-framer-name="Frame 66" name="Frame 66" style="height: 51px;">
                    <div data-framer-name="Frame 65" name="Frame 65" style="height: 19px; width: 250px;">
                      <div data-framer-name="아칼리 상향좀;;" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                        <p style=" --framer-font-size:16px;--framer-line-height:18px" class="framer-text">
                          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:16px;--framer-text-color:rgba(255, 255, 255, 1)" class="framer-text">
                            [[${dto.id}]]:
                            <a th:href="@{/posts/read(id=${dto.id}, page=${result.cur_page})}">
                                [[${dto.title}]]
                            </a>
                          </span>
                        </p>
                      </div>
                    </div>
                    <div class="framer-1y1dt8r" data-framer-name="상세정보 프레임" name="상세정보 프레임" style="width: 231px; height: 24px;">
                      <div data-framer-name="내여친 아칼리" style="position: relative; height:24px; outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                        <p style="height:24px; --framer-font-size:13px;--framer-line-height:24px" class="framer-text">
                          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLTMwMA==;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:13px;--framer-font-weight:300;--framer-text-color:rgba(255, 255, 255, 1)" class="framer-text">[[${dto.writer}]]</span>
                        </p>
                      </div>
                      <div data-framer-component-type="SVG" data-framer-name="Vertical Divider" name="Vertical Divider" style="image-rendering:pixelated;flex-shrink:0;fill:rgba(0,0,0,1);color:rgba(0,0,0,1)" class="framer-e9jrtc" aria-hidden="true">
                        <div style="width:100%;height:100%;aspect-ratio:inherit">
                          <svg style="width:100%;height:100%" viewBox="0 0 1 12">
                            <use href="#svg1935768305_372"/>
                          </svg>
                        </div>
                      </div>
                      <div data-framer-name="2024.08.31" style="position: relative; outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                        <p style="--framer-font-size:13px;--framer-line-height:24px" class="framer-text">
                          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLTMwMA==;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:13px;--framer-font-weight:300;--framer-text-color:rgba(255, 255, 255, 1)" class="framer-text">[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</span>
                        </p>
                      </div>
                      <div data-framer-component-type="SVG" data-framer-name="Vertical Divider" name="Vertical Divider" style="position: relative; image-rendering:pixelated;flex-shrink:0;fill:rgba(0,0,0,1);color:rgba(0,0,0,1)" class="framer-189wmcz" aria-hidden="true">
                        <div class="svgContainer" style="width:100%;height:100%;aspect-ratio:inherit">
                          <svg style="width:100%;height:100%" viewBox="0 0 1 12">
                            <use href="#svg-653149451_372"/>
                          </svg>
                        </div>
                      </div>
                      <div data-framer-component-type="SVG" data-framer-name="눈" name="눈" style="image-rendering:pixelated;flex-shrink:0;fill:rgba(0,0,0,1);color:rgba(0,0,0,1)" class="framer-17d596" aria-hidden="true">
                        <div class="svgContainer" style="width:100%;height:100%;aspect-ratio:inherit">
                          <svg style="width:100%;height:100%" viewBox="0 0 12 8">
                            <use href="#svg-900015600_807"/>
                          </svg>
                        </div>
                      </div>
                      <div data-framer-name="19340" style="position:relative; outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                        <p style="--framer-font-size:13px;--framer-line-height:24px" class="framer-text">
                          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLTMwMA==;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:13px;--framer-font-weight:300;--framer-text-color:rgba(255, 255, 255, 1)" class="framer-text">0</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="color: #585858; background-color: #585858;" class="framer-da4ouy" data-framer-name="Frame 68" name="Frame 68"></div>
              </div>
            </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
    <div class="framer-e8hfhf" data-framer-name="하단 숫자바" name="하단 숫자바">
      <div class="framer-1cegpba" data-border="true" data-framer-name="바로가기" name="바로가기" style="transform:rotate(135deg)"></div>
      <div class="framer-1r9d6ps" data-framer-name="5" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
        <p style="--framer-font-size:14px;--framer-text-alignment:center" class="framer-text">
          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:14px;--framer-text-color:rgba(0, 255, 207, 1)" class="framer-text">1</span>
        </p>
      </div>
      <div class="framer-1efgw43" data-framer-name="4" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
        <p style="--framer-font-size:14px;--framer-text-alignment:center" class="framer-text">
          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:14px;--framer-text-color:rgba(221, 221, 221, 1)" class="framer-text">2</span>
        </p>
      </div>
      <div class="framer-7zhjnu" data-framer-name="3" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
        <p style="--framer-font-size:14px;--framer-text-alignment:center" class="framer-text">
          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:14px;--framer-text-color:rgba(221, 221, 221, 1)" class="framer-text">3</span>
        </p>
      </div>
      <div class="framer-12r8eky" data-framer-name="2" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
        <p style="--framer-font-size:14px;--framer-text-alignment:center" class="framer-text">
          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:14px;--framer-text-color:rgba(221, 221, 221, 1)" class="framer-text">4</span>
        </p>
      </div>
      <div class="framer-17qbs68" data-framer-name="1" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
        <p style="--framer-font-size:14px;--framer-text-alignment:center" class="framer-text">
          <span style="--font-selector:R0Y7Tm90byBTYW5zIEtSLXJlZ3VsYXI=;--framer-font-family:&quot;Noto Sans KR&quot;;--framer-font-size:14px;--framer-text-color:rgba(221, 221, 221, 1)" class="framer-text">5</span>
        </p>
      </div>
      <div class="framer-1r19g4g" data-border="true" data-framer-name="바로가기" name="바로가기" style="transform:rotate(-45deg)"></div>
    </div>
  </div>
</div>
    </th:block>
  </th:block>
</html>